.about-section {
    padding: 100px 100px 100px 100px;
    background-color: #F9F9F7;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2C2F24;
}

.about-picture {
    border-radius: 10px;
    width: 90%;
}

.more-about-us {
    border: solid 2px  #2C2F24;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 80%;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 700;
}

.about-title {
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-size: 220%;
    font-weight: 500;
}

.about-details-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}