.banner-section {
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-cta-section {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.banner-cta-1,
.banner-cta-2 {
    border: solid 2px black;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

.banner-description {
    margin-top: 30px;
}