.delivery-section {
    display: flex;
    background-color: #F5F5F5;
    padding: 100px;
    align-items: center;
}

.delivery-image-left {
    width: 85%;
}

.delivery-image-up {
    width: 85%;
    margin-top: 25px;
}

.delivery-image-down {
    width: 85%;
}

.picture-middle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: -40px;
}

.delivery-title {
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 250%;
    padding-bottom: 15px;
    color: #2C2F24;
}

.delivery-description {
    margin: 5px 0px 20px 0px;
    font-family: 'DM Sans', Courier, monospace;
    font-size: 90%;
}

.delivery-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.delivery-icon-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (max-width: 576px) {
    .delivery-section {
        flex-direction: column;
        padding: 30px;
    }

    .picture-left, .picture-middle, .delivery-section-text {
        width: 100%;
        margin: 0 auto;
    }

    .picture-middle {
        margin-left: 0;
        gap: 10px;
        display: none;
    }

    .delivery-image-left, .delivery-image-up, .delivery-image-down {
        width: 100%;
    }

    .delivery-title {
        font-size: 150%;
        text-align: left;
    }

    .delivery-description {
        font-size: 80%;
        text-align: left;
    }

    .delivery-icon-section {
        align-items: start;
    }

    .delivery-icon {
        justify-content: center;
    }
}
