.footer-section {
    background-color: #474747 ;
    padding: 90px;
}

.footer-company-name {
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 500;
    font-size: 120%;
}

.social-footer {
    background-color: #AD343E;
    border-radius: 100%;
    padding: 8px 11px 6px 11px;
}

.social-icons-footer {
    width: 9px;
}