.footer-section {
    background-color: #474747 ;
    padding: 70px 90px;
    display: flex;
    gap: 9%;
}

.footer-company-name {
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 500;
    font-size: 120%;
    color: white;
}

.social-footer {
    background-color: #AD343E;
    border-radius: 100%;
    padding: 7px 10px 5px 10px;
}

.social-icons-footer {
    width: 12px;
    color: white;
}

.footer-product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-product-image {
    width: 40px;
}

.footer-campany-description {
    color: #DBDFD0;
    font-size: 70%;
    margin: 25px 0px;
}

.page-items {
    color: #DBDFD0;
    font-size: 80%;
    margin-bottom: 20px;
}

.page-text {
    font-weight: 500;
    font-size: 90%;
    margin-bottom: 30px;
    color: white;
}

.footer-images {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-images img {
    width: 100%;
    border-radius: 7px;
}

.footer-section-4 {
    width: 15%;
    margin-right: 90px;
}

.footer-section-1 {
    width: 25%;
}

.footer-buttom-text {
    text-align: center;
    color: #DBDFD0;
    background-color: #474747 ;
    font-size: 70%;
    padding-bottom: 5px;
}

