.menu-card-container {
    border: solid 2px black;
    border-radius: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px;

}

.menu-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-title {
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.card-description {
    padding: 10px 0px 15px 0px;
}

.card-title {
    padding-top: 15px;
}

.menu-card-template {
    display: flex;
    gap: 20px;
}
