.menu-card-section {
    padding: 30px 20px;
}

.menu-card-section .menu-title {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-weight: 500;
    padding-bottom: 20px;
    color: var(--dark-black);
}

.menu-card-template {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.menu-card-section ul {
    border: solid 2px #2C2F24;
    border-radius: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 40px 20px;
}

.menu-card-section ul > * {
    text-align: center;
}

.menu-cards :nth-child(1) {
    padding-bottom: 15px;
}

.menu-cards :nth-child(2) {
    font-weight: 700;
    font-size: 1.3em;
    padding-bottom: 10px;
    color: var(--dark-black);

}

.menu-cards :nth-child(3) {
    font-size: 1em;
    padding-bottom: 20px;
    color: var(--light-black);
}

.menu-cards :nth-child(4) {
    font-size: 1em;
    color: var(--red);
    font-weight: 700;
}

.menu-card-section {
    max-width: 1280px;
}

/* Small Tablet Styles */

@media screen and (min-width: 530px) {
    .menu-card-template {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .menu-cards  {
        min-height: 350px;
        max-width: auto;
    }
}

/* Large Tablet Styles */

@media screen and (min-width: 720px) {
    .menu-card-section {
        padding: 50px 40px;
    }

    .menu-cards  {
        min-height: 100px;
        max-width: auto;
    }

    .menu-cards :nth-child(3) {
        min-height: 100px;
    }
   }

/* Laptop Tablets Styles */

@media screen and (min-width: 960px) {
    .menu-card-template {
        grid-template-columns: repeat(4, 1fr);
    }

    .menu-cards :nth-child(3) {
        min-height: 175px;
    }
}

/* Desktop Style */

@media screen and (min-width: 1120px) {
    .menu-card-section {
        padding: 70px 60px;
    }

    .menu-cards :nth-child(3) {
        min-height: 150px;
    }
}

@media screen and (min-width: 1190px) {
    .menu-card-section {
        padding: 70px 60px;
    }

    .menu-cards :nth-child(3) {
        min-height: 155px;
    }

}

@media screen and (min-width: 1280px) {
    .menu-card-section {
        margin: 0 auto;
    }
}