.contact-list {
    display: flex;
    gap: 20px;
    margin-right: auto;
}

.upper-nav {
    padding: 10px 100px 10px 100px;
    background-color: #474747;
}

.contact-section {
    display: flex;
    align-items: center;
    color: white;
}

.social-list {
    display: flex;
    gap: 5px;
}

.menu-section {
    display: flex;
    align-items: center;
    padding: 10px 100px 10px 100px;
    background-color: #F9F9F7;
    color: #2C2F24;
}

.book-a-table {
    border: solid 2px  #2C2F24;
    border-radius: 30px;
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    font-size: 85%;
}

.menu-list { 
    font-size: 85%;
    margin-right: auto;
    margin-left: auto;
}

.social {
    background-color: #6b6a6a;
    border-radius: 100%;
    padding: 8px 11px 6px 11px;
}

.social-icons {
    width: 12px;
}

.logo-section {
    display: flex;
    gap: 15px;
    align-items: center;
    visibility: hidden;
}

.menu-items {
    display: flex;
    gap: 50px;
    font-weight: 500;
    visibility: hidden;
}

.company-name {
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 500;
    font-size: 160%;
}

.hamburger-icon {
    display: none; /* Initially hide the hamburger icon */
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 1026px) {
    .menu-section {
        padding: 10px 30px 10px 30px;
    }
}


@media (max-width: 886px){
.hamburger-icon {
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 2;
}

.hamburger-icon.open {
    color: white;
}

.menu-list {
    
    width: 100%;
    height: 100vh;
    background-color:  #474747;
    position: absolute;
    top: 0;
    left: 1000px;
    padding: 40px;
    transition: left 1s ease-in-out;
    z-index: 2;
}

.menu-list.open {
    display: block; /* Display the menu when the hamburger icon is clicked */
    left: 0;
}

.menu-items {
    flex-direction: column;
    color: white;
    font-size: 150%;
    font-weight: 500;
}

.book-a-table {
    border: solid 2px  #ffffff;
    color: white;
    font-size: 100%;
    position: absolute;
    top: 420px;
    left: -1000px;
    transition: left 1s ease-in-out; /* Smooth transition effect */
    margin-left: 40px;
    z-index: 2;
}

.book-a-table.open {
    display: block;
    left: 0px;
}

.menu-section {
    padding-left: 30px;
}

.company-name {
    font-size: 120%;
}

.company-logo {
    width: 20%;
}

.upper-nav {
    display: none;
}

.scroll {
    overflow: hidden;
}
}
    