.contact-list {
    display: flex;
    gap: 20px;
    margin-right: auto;
}

.upper-nav {
    padding: 10px 100px 10px 100px;
    max-width: 1280px;
}

.contact-section {
    display: flex;
    align-items: center;
    color: white;
}

.nav-section {
    background-color: #474747;
}

.social-list {
    display: flex;
    gap: 5px;
}

.menu-section {
    display: flex;
    align-items: center;
    padding: 10px 100px 10px 100px;
    background-color: #F9F9F7;
    color: #2C2F24;
    max-width: 1280px;
}

.menu-wrapper {
    background-color: #F9F9F7;
}

.book-a-table {
    border: solid 2px  #2C2F24;
    border-radius: 30px;
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    font-size: 85%;
}

.menu-list { 
    font-size: 85%;
    margin-right: auto;
    margin-left: auto;
}

.social {
    background-color: #6b6a6a;
    border-radius: 100%;
    padding: 8px 11px 6px 11px;
}

.social-icons {
    width: 12px;
}

.logo-section {
    display: flex;
    gap: 15px;
    align-items: center;
}

.menu-items {
    display: flex;
    gap: 50px;
    font-weight: 500;
}

.company-name {
    font-family: 'Playfair Display','Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 500;
    font-size: 160%;
}

/* .hamburger-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
} */

/* Hamburger menu*/
.menu-icon-box {
    display: none;
}
  
.line1, .line2, .line3 {
    width: 25px;
    border: 2px solid #0e25fc;
    transition: transform 0.8s ease,opacity 0.8s ease;
  }
  
  .active .line1 {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .active .line2 {
    opacity: 0;
  }
  .active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  


@media (max-width: 1026px) {
    .menu-section {
        padding: 10px 30px 10px 30px;
    }
}


@media (max-width: 886px){
/* .menu-icon-box { */
    /* display: block; */
    /* position: absolute;
    top: 16px;
    right: 20px;
    z-index: 2; */
/* } */

.menu-icon-box {
    position: fixed;
    top: -1px;
    right: 0px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid #0e25fc;
    border-radius: 8px;
    width: 50px;
    height: 40px;
    padding: 4px;
    cursor: pointer;
    z-index: 103;
    background-color: white;
  }

.hamburger-icon.open {
    color: white;
}

.menu-list {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color:  #474747;
    top: 0;
    left: -1000px;
    padding: 40px;
    transition: left 1s ease-in-out;
    z-index: 2;
}

.menu-list.open {
    position: absolute;
    left: 0;
}

.menu-items {
    flex-direction: column;
    color: white;
    font-size: 150%;
    font-weight: 500;
}

.book-a-table {
    border: solid 2px  #ffffff;
    color: white;
    font-size: 100%;
    position: absolute;
    top: 420px;
    left: -1000px;
    transition: left 1s ease-in-out; /* Smooth transition effect */
    margin-left: 40px;
    z-index: 2;
}

.book-a-table.open {
    display: block;
    left: 0px;
}

.menu-section {
    padding-left: 30px;
}

.company-name {
    font-size: 90%;
}

.company-logo {
    width: 20%;
}

.upper-nav {
    display: none;
}

.scroll {
    overflow: hidden;
}

.logo-section {
    gap: 5px;
}

}

@media screen and (min-width: 1280px) {
    .menu-section, .upper-nav {
        margin: 0 auto;
    }
}
    